<html>
    <head>
        <title> RevDict</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        </head>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/home/" id="homeBtn">Home</a>
                </li>
                <li>
                    <a href="/docs/" id="docBtn">About</a>
                </li>
                <li>
                    <a href="/demo" id="docBtn">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/about/" id="aboutBtn">Sign Up</a>
                </li>
                <li>
                    <a href="/about/" id="aboutBtn">log-In</a>
                </li>
            </ul>
            <div class="container">
                <h2>RevDict</h2>
                <h5 class = "description">Find that word you are looking for</h5>
                <form action = "/api/" class="form-inline" role="form" method = "POST">
                    <div class="form-group">
                        <label>Search Bar</label>
                        <br>
                        <input type="text" name = "search_entry" class="form-control" id="search" placeholder="Separated with commas">
                        <br>
                    </div>
                    {% if results and not results[0] %}
                    <label class = "Error">Search entry cannot be empty.</label>
                    {% endif %}
                    <br>
                    <div class="form-group">
                        <label>Starts With?</label>
                        <br>
                        <input type="text" name = "begins_with" class="form-control" id="start" placeholder="First letters">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Ends With?</label>
                        <br>
                        <input type="text" name = "ends_with" class="form-control" id="end" placeholder="Last letters">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>How Many Words?</label>
                        <br>
                        <input type="number" name = "how_many_words" class="form-control" id="end" placeholder="Number of results">
                    </div>
                    <br>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <body>
                    <div class ="rd">
                    {% if results and results[0]%}
                        <h1>Search entry: {{results[0]}}</h1>
                      {% if results[1] %}
                        <p class = "results">Results: {{results[1]}}</p>
                      {% else %}
                        <p class = "results">No results were found. </p>
                      {% endif %}
                    {% endif %}
                    </div>
                </body>
            </div>
                            <!--
        <form>
            Synonym
            <input name="synonym" type ="radio"/>
            Antonym
            <input name="antonym" type ="radio"/></form><-->
                            <!--  <form align="center"><input class="btn btn-default" type="submit" /></form><div id="feed"></div> -->
    </head>
</html>