    <html>
        <head> 
            <title> RevDict</title>
            <style type="text/css">

form.form-inline {
    display: table-caption;
}
.container {
    margin-left: 32em;
}
body {
  font-family: Sans-serif;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

            </style>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        </head> 

<div class="container">
  <h2>RevDict</h2>
  <p>Type the words you were thinking of</p>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label for="email">Words Separated by comma</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Starts With</label>
      <input type="password" class="form-control" id="pwd" placeholder="first letter">
    </div>

     <div class="form-group">
      <label for="pwd">Ends With</label>
      <input type="password" class="form-control" id="txt" placeholder="last letter">
    </div>
   
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>







        <!--
        <form>
            Synonym
            <input name="synonmym" type ="radio"/>
            Antonym
            <input name="antonym" type ="radio"/>
            
        </form> 
        <-->
       <!--  <form align="center">
            <input class="btn btn-default" type="submit" />
        </form>
        <div id="feed"></div> -->
    
        </head>
    
    
    </html>